/* Record=Constraint | TargetKind=Part | TargetId=XC3S500E-5PQ208C */

/* Input-only pins */

/* NET "BANK0IP[0..5]" LOC = "P204,P194,P175,P174,P169,P159"; */
NET "BANK0IP<0>" LOC = "P204";
NET "BANK0IP<1>" LOC = "P194";
NET "BANK0IP<2>" LOC = "P175";
NET "BANK0IP<3>" LOC = "P174";
NET "BANK0IP<4>" LOC = "P169";
NET "BANK0IP<5>" LOC = "P159";

/* NET "BANK1IP[0..7]" LOC = "P154,P148,P142,P136,P124,P130,P118,P110"; */
NET "BANK1IP<0>" LOC = "P154";
NET "BANK1IP<1>" LOC = "P148";
NET "BANK1IP<2>" LOC = "P142";
NET "BANK1IP<3>" LOC = "P136";
NET "BANK1IP<4>" LOC = "P124";
NET "BANK1IP<5>" LOC = "P130";
NET "BANK1IP<6>" LOC = "P118";
NET "BANK1IP<7>" LOC = "P110";

/* NET "BANK3IP[0..6]" LOC = "P6,P14,P20,P26,P32,P43,P51"; */
NET "BANK3IP<0>" LOC = "P6";
NET "BANK3IP<1>" LOC = "P14";
NET "BANK3IP<2>" LOC = "P20";
NET "BANK3IP<3>" LOC = "P26";
NET "BANK3IP<4>" LOC = "P32";
NET "BANK3IP<5>" LOC = "P43";
NET "BANK3IP<6>" LOC = "P51";

/* 1.8v-bank I/O pins on PonyPort */
/* NET "BANK0IO[0..19]" LOC = "P190,P189,P187,P186,P185,P181,P180,P179,P178,P177,P172,P171,P168,P167,P165,P164,P163,P162,P161,P160"; */
NET "BANK0IO<0>" LOC = "P190";
NET "BANK0IO<1>" LOC = "P189";
NET "BANK0IO<2>" LOC = "P187";
NET "BANK0IO<3>" LOC = "P186";
NET "BANK0IO<4>" LOC = "P185";
NET "BANK0IO<5>" LOC = "P181";
NET "BANK0IO<6>" LOC = "P180";
NET "BANK0IO<7>" LOC = "P179";
NET "BANK0IO<8>" LOC = "P178";
NET "BANK0IO<9>" LOC = "P177";
NET "BANK0IO<10>" LOC = "P172";
NET "BANK0IO<11>" LOC = "P171";
NET "BANK0IO<12>" LOC = "P168";
NET "BANK0IO<13>" LOC = "P167";
NET "BANK0IO<14>" LOC = "P165";
NET "BANK0IO<15>" LOC = "P164";
NET "BANK0IO<16>" LOC = "P163";
NET "BANK0IO<17>" LOC = "P162";
NET "BANK0IO<18>" LOC = "P161";
NET "BANK0IO<19>" LOC = "P160";


/* VccO_Pony I/O pins on PonyPort */
/* NET "PONY_IO[0..31]" LOC = "P153,P152,P151,P150,P147,P146,P145,P144,P140,P139,P138,P137,P135,P134,P133,P132,P129,P128,P127,P126,P123,P122,P120,P119,P116,P115,P113,P112,P109,P108,P107,P106"; */
NET "PONY_IO<0>" LOC = "P153";
NET "PONY_IO<1>" LOC = "P152";
NET "PONY_IO<2>" LOC = "P151";
NET "PONY_IO<3>" LOC = "P150";
NET "PONY_IO<4>" LOC = "P147";
NET "PONY_IO<5>" LOC = "P146";
NET "PONY_IO<6>" LOC = "P145";
NET "PONY_IO<7>" LOC = "P144";
NET "PONY_IO<8>" LOC = "P140";
NET "PONY_IO<9>" LOC = "P139";
NET "PONY_IO<10>" LOC = "P138";
NET "PONY_IO<11>" LOC = "P137";
NET "PONY_IO<12>" LOC = "P135";
NET "PONY_IO<13>" LOC = "P134";
NET "PONY_IO<14>" LOC = "P133";
NET "PONY_IO<15>" LOC = "P132";
NET "PONY_IO<16>" LOC = "P129";
NET "PONY_IO<17>" LOC = "P128";
NET "PONY_IO<18>" LOC = "P127";
NET "PONY_IO<19>" LOC = "P126";
NET "PONY_IO<20>" LOC = "P123";
NET "PONY_IO<21>" LOC = "P122";
NET "PONY_IO<22>" LOC = "P120";
NET "PONY_IO<23>" LOC = "P119";
NET "PONY_IO<24>" LOC = "P116";
NET "PONY_IO<25>" LOC = "P115";
NET "PONY_IO<26>" LOC = "P113";
NET "PONY_IO<27>" LOC = "P112";
NET "PONY_IO<28>" LOC = "P109";
NET "PONY_IO<29>" LOC = "P108";
NET "PONY_IO<30>" LOC = "P107";
NET "PONY_IO<31>" LOC = "P106";

NET "M<0>" LOC = "P86";
NET "M<1>" LOC = "P84";
NET "M<2>" LOC = "P81";

/* NET "D[0..7]" LOC = "P87,P83,P82,P78,P77,P76,P75,P74"; */
NET "D<0>" LOC = "P87" | IOSTANDARD = LVCMOS33;
NET "D<1>" LOC = "P83" | IOSTANDARD = LVCMOS33;
NET "D<2>" LOC = "P82" | IOSTANDARD = LVCMOS33;
NET "D<3>" LOC = "P78" | IOSTANDARD = LVCMOS33;
NET "D<4>" LOC = "P77" | IOSTANDARD = LVCMOS33;
NET "D<5>" LOC = "P76" | IOSTANDARD = LVCMOS33;
NET "D<6>" LOC = "P75" | IOSTANDARD = LVCMOS33;
NET "D<7>" LOC = "P74" | IOSTANDARD = LVCMOS33;

NET "BUSY_DOUT" LOC = "P60";
NET "MOSI_CSI_B" LOC = "P61" | IOSTANDARD = LVCMOS33;
NET "X1_AUXCLK" LOC = "P97";
NET "FLED<2>" LOC = "P98" | IOSTANDARD = LVCMOS33;
NET "FLED<1>" LOC = "P99" | IOSTANDARD = LVCMOS33;
NET "FLED<0>" LOC = "P100" | IOSTANDARD = LVCMOS33;
NET "CCLK" LOC = "P103" | IOSTANDARD = LVCMOS33;

/* 13mhz clock input + timespec*/ 
NET "OSC_13MHZ_R" LOC = "P54" | TNM_NET="clk_13";
NET "OSC_13MHZ_R" CLOCK_DEDICATED_ROUTE = FALSE; 
// See note in PAR output about how this is not optimal. It should not matter for us though.
TIMESPEC TS_clk_13 = PERIOD "clk_13" 13 MHz HIGH 50%;


NET "XLBIN<4>" LOC = "P102";
NET "XLBIN<3>" LOC = "P64";
NET "XLBIN<2>" LOC = "P65";
NET "XLBIN<1>" LOC = "P68";
NET "XLBIN<0>" LOC = "P69";
NET "XLBOUT<0>" LOC = "P71";
NET "XLBOUT<1>" LOC = "P72";
NET "XLBOUT<2>" LOC = "P80";
NET "XLBOUT<3>" LOC = "P91";
NET "XLBOUT<4>" LOC = "P101";

NET "XLAIN<1>" LOC = "P55" | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "XLAIN<0>" LOC = "P56" | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "XLAOUT<0>" LOC = "P57" | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET "XLAOUT<1>" LOC = "P58" | IOSTANDARD=LVCMOS33 | PULLDOWN;

/* These should all be 1.8v */
/* NET "ULPI_D[0..3]" LOC = "P205,P203,P200,P199"; */
NET "ULPI_D<0>" LOC = "P205" | IFD_DELAY_VALUE = 0;
NET "ULPI_D<1>" LOC = "P203" | IFD_DELAY_VALUE = 0;
NET "ULPI_D<2>" LOC = "P200" | IFD_DELAY_VALUE = 0;
NET "ULPI_D<3>" LOC = "P199" | IFD_DELAY_VALUE = 0;

NET "ULPI_DIR" LOC = "P183";
NET "ULPI_CLK" LOC = "P184";
NET "ULPI_STP" LOC = "P193";
NET "ULPI_NXT" LOC = "P196";

NET "CLOCK_192" LOC = "P202";
NET "CLOCK_192" CLOCK_DEDICATED_ROUTE = FALSE;
NET "TARGETPHY_RST" LOC = "P197";

/* end 1.8v */

/* These are a diff pair */
NET "TARGETD_P" LOC = "P2";
NET "TARGETD_N" LOC = "P3";

NET "SD_A[0]" LOC = P22;
NET "SD_A[1]" LOC = P23;
NET "SD_A[2]" LOC = P24;
NET "SD_A[3]" LOC = P25;
NET "SD_A[4]" LOC = P50;
NET "SD_A[5]" LOC = P49;
NET "SD_A[6]" LOC = P48;
NET "SD_A[7]" LOC = P47;
NET "SD_A[8]" LOC = P28;
NET "SD_A[9]" LOC = P29;
NET "SD_A[10]" LOC = P19;
NET "SD_A[11]" LOC = P30;
NET "SD_A[12]" LOC = P31;
NET "SD_BA[0]" LOC = P94;
NET "SD_BA[1]" LOC = P96;
NET "SD_CAS" LOC = P63;
NET "SD_CLK" LOC = P45;
NET "SD_CS" LOC = P93;
NET "SD_DQ[0]" LOC = P18;
NET "SD_DQ[1]" LOC = P16;
NET "SD_DQ[2]" LOC = P15;
NET "SD_DQ[3]" LOC = P12;
NET "SD_DQ[4]" LOC = P11;
NET "SD_DQ[5]" LOC = P9;
NET "SD_DQ[6]" LOC = P8;
NET "SD_DQ[7]" LOC = P5;
NET "SD_DQ[8]" LOC = P33;
NET "SD_DQ[9]" LOC = P34;
NET "SD_DQ[10]" LOC = P35;
NET "SD_DQ[11]" LOC = P36;
NET "SD_DQ[12]" LOC = P39;
NET "SD_DQ[13]" LOC = P40;
NET "SD_DQ[14]" LOC = P41;
NET "SD_DQ[15]" LOC = P42;
NET "SD_DQM[0]" LOC = P62;
NET "SD_DQM[1]" LOC = P89;
NET "SD_RAS" LOC = P90;
NET "SD_WE" LOC = P4;

# IO standards
NET "SD_A[0]" IOSTANDARD = LVCMOS33;
NET "SD_A[1]" IOSTANDARD = LVCMOS33;
NET "SD_A[2]" IOSTANDARD = LVCMOS33;
NET "SD_A[3]" IOSTANDARD = LVCMOS33;
NET "SD_A[4]" IOSTANDARD = LVCMOS33;
NET "SD_A[5]" IOSTANDARD = LVCMOS33;
NET "SD_A[6]" IOSTANDARD = LVCMOS33;
NET "SD_A[7]" IOSTANDARD = LVCMOS33;
NET "SD_A[8]" IOSTANDARD = LVCMOS33;
NET "SD_A[9]" IOSTANDARD = LVCMOS33;
NET "SD_A[10]" IOSTANDARD = LVCMOS33;
NET "SD_A[11]" IOSTANDARD = LVCMOS33;
NET "SD_A[12]" IOSTANDARD = LVCMOS33;
NET "SD_BA[0]" IOSTANDARD = LVCMOS33;
NET "SD_BA[1]" IOSTANDARD = LVCMOS33;
NET "SD_CAS" IOSTANDARD = LVCMOS33;
NET "SD_CLK" IOSTANDARD = LVCMOS33;
NET "SD_CS" IOSTANDARD = LVCMOS33;
NET "SD_DQ[0]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[1]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[2]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[3]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[4]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[5]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[6]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[7]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[8]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[9]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[10]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[11]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[12]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[13]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[14]" IOSTANDARD = LVCMOS33;
NET "SD_DQ[15]" IOSTANDARD = LVCMOS33;
NET "SD_DQM[0]" IOSTANDARD = LVCMOS33;
NET "SD_DQM[1]" IOSTANDARD = LVCMOS33;
NET "SD_RAS" IOSTANDARD = LVCMOS33;
NET "SD_WE" IOSTANDARD = LVCMOS33;

NET "ULPI_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ULPI_CLK" TNM_NET = "ULPI_CLK";

TIMESPEC "TS_ULPI_CLK" = PERIOD "ULPI_CLK" 16.667 ns HIGH 50%;

OFFSET = IN 4 ns VALID 6 ns BEFORE ULPI_CLK RISING;
OFFSET = IN 4 ns VALID 6 ns BEFORE ULPI_CLK FALLING;

OFFSET = OUT 7 ns AFTER ULPI_CLK RISING;
OFFSET = OUT 7 ns AFTER ULPI_CLK FALLING;

NET "ULPI_DIR" MAXDELAY=4.5 ns;
